* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fundo da página */
    color: #333;
}

#conteudo { 
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d3d3d3; /* A cor cinza que você queria */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}